@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.lighterText {
    font-weight: 200;
}

.heroSection {
    width: 100%;
    display: flex;
}

#container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background: #647aa0;
    background: linear-gradient(0deg, #618dda 10%, #386b96 100%);
}