#mainContent {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;

    #mainContentText {
        font-size: 5em;
        text-align: center;
        color: white;
        text-shadow: 2px 2px #00000040;
    }

    hr#seperator {
        width: 50px;
        margin-top: 15px;
        height: 1px;
        background: #ffffff36;
        box-shadow: 0px 1px #00000017;
        border: none;
    }
}

@media screen and (max-width: 1600px) {
    #mainContent {
        top: 50%;
    }
}

@media screen and (max-width: 1450px) {
    #mainContent {
        #mainContentText {
            font-size: 3.7em;
        }
    }
}

@media screen and (max-width: 1200px) {
    #mainContent {
        #mainContentText {
            font-size: 3em;
        }
    }
}

@media screen and (max-width: 850px) {
    #mainContent {
        position: static;
        top: initial;
        left: initial;
        transform: initial;

        #mainContentText {
            padding: 0 10px 10px 10px;
        }
    }
}