#navigationBar {
    padding: 20px 0;
    max-height: 76px;
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;

    #navigationBarContainer {
        display: flex;
        flex-direction: row;
        width: 60%;
        text-shadow: 1px 1px #00000040;

        #logo {
            margin-right: auto;
            font-size: 1.9em;
            color: white;
        }

        #navHamburger {
            display: none;
            font-size: 1.9em;
            position: fixed;
            right: 0;
            top: 0;
            padding: 8px 15px;
            box-shadow: 0px 3px #00000014;
            background: #ffffff21;
            color: white;
            filter: drop-shadow(0px 1px 0px #00000050);
            cursor: pointer;
            z-index: 2;
        }

        nav {
            display: flex;

            a {
                padding: 8px;
                margin-left: 20px;
                font-weight: 200;

                &:hover {
                    border-bottom: 1px solid white;
                    color: white;
                    box-shadow: 0px 1px #00000047;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #navigationBar {
        position: static;
        max-height: initial;
        height: initial;

        #navigationBarContainer {
            flex-direction: column;

            #logo {
                margin: 0 auto;
            }

            nav {
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                width: 100%;
                flex-direction: column;
                margin: 10px 0 0 0;

                a {
                    text-align: center;
                    margin-left: 0;
                }

                a:hover {
                    border-bottom: none;
                    box-shadow: none;
                    background: #ffffff1f;
                }
            }
        }
    }
}