#secondSection {
    background: #5a6e94;
    border-top: 3px solid #303a4e;
    border-bottom: 3px solid #303a4e;
    height: 400px;

    #secondSectionText {
        font-size: 3em;
        width: 40%;
        text-align: center;
        color: #525252;
        padding: 50px 0;
    }
}